table {
    font-family: arial, sans-serif;
    width: 100%;
    margin-top: 10px;
}

tr, th, td {
    border: 1px solid #f4f4f4;
    text-align: left;
    padding: 10px;
}

thead {
    background-color: #149071;
}

tr:nth-child(even) {
    background-color: #e5f7f1;
}