<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta name="google-signin-client_id"
          content="625903979283-gihroqr75e0u0ki28v5k2j3eoimsu718.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <title>WTra</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
    <link rel="stylesheet" href="./style.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/register" method="POST" >
            <h1>Create Account</h1>
            <span>Use your email for registration</span>
            <input type="text" name="registerName" id="registerName" placeholder="Name"/>
            <input type="email" name="registerEmail" id="registerEmail"placeholder="Email"/>
            <input type="password" name="registerPassword" id="registerPassword" placeholder="Password"/>
            <p th:text="${errorMessageRegister}"></p>
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/home" method="POST" id="loginForm">
            <h1>Sign in</h1>
            <div class="social-container">
                <div class="social"><i class="fab fa-facebook-f"></i></div>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <div class="social"><i class="fab fa-linkedin-in"></i></div>
            </div>
            <span>or use your account</span>
            <input name="signInEmail" id="signInEmail" type="email" placeholder="Email"/>
            <input name="signInPassword" id="signInPassword" type="password" placeholder="Password"/>
            <p th:text="${errorMessage}"></p>
            <button id="signInButton">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <script src="./script.js"></script>
    <script src="./gauth.js"></script>
    <script>signOut()</script>
</footer>

</body>
</html>