<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your uploads</title>
    <link rel="stylesheet" href="./navbar.css">
    <link rel="stylesheet" href="./table.css">
    <link rel="stylesheet" href="./main.css">

    <style>
        .container:hover .overlay {
            opacity: 1;
        }
    </style>
</head>
<body>
<div class="topnav">
    <!--    change highlight to some real actions-->
    <a id="home" class="active" href="/home" onclick="highlight(this)">Home</a>
    <a id="yourUploads" href="/uploads" onclick="highlight(this)">Your Uploads</a>
    <a id="trafficSigns" href="/signs" onclick="highlight(this)">Traffic Signs</a>
    <a id="contact" href="#contact" onclick="highlight(this)">Contact</a>
    <a id="about" href="#about" onclick="highlight(this)">About</a>
    <a id="logout" href="/login" onclick="highlight(this)">Log out</a>
</div>

<table style="width:100%">
    <thead style="background-color: #0C5645;">
    <tr>
        <th width = "50%">Video data</th>
        <th colspan="100%">Signs from video</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="video : ${videos}">
        <td>
            <label style ="color: #0e638d" th:text="${video.name} != '' ? 'Name: ' + ${video.name}"></label><br/><br/>
            <label style ="color: #455f8d" th:text="${video.id} != '' ? 'ID: ' + ${video.id}"></label><br/><br/>
            <label style ="color: #381f8d" th:text="${video.duration} != '' ? 'Duration: ' + ${video.duration} + ' seconds'"></label><br/><br/>
            <label style ="color: #45678d" th:text="${video.country} != '' ? 'Country: ' + ${video.country} "></label>
        </td>
            <td th:each="sign : ${video.signs}">
                <img th:src="@{${sign.sign.imageLink}}" alt="${sign.sign.imageLink}"/><br/>
                <label style ="color: #8d6938" th:text="${sign.sign.name}"></label><br/><br/>
                <label style ="color: #468d83" th:text="${sign.videoStamp} != '' ? 'Video stamp: ' + ${sign.videoStamp}"></label><br/><br/>
                <label style ="color: #0e638d" th:text="${sign.location.longitude} != '' ? 'Longitude: ' + ${sign.location.longitude}"></label><br/><br/>
                <label style ="color: #0e638d" th:text="${sign.location.latitude} != '' ? 'Latitude: ' + ${sign.location.latitude}"></label><br/><br/>
                <label style ="color: #58468d" th:text="${sign.moreAt} != '' ? 'For more info about sign GET: ' + ${sign.moreAt}"></label><br/><br/>
            </td>
    </tr>
    </tbody>
</table>

</body>
<script src="../static/main.js"></script>
</html>